# Ignore everything inside steamcmd
steamcmd/*

# BUT keep the executable
!steamcmd/steamcmd.exe

# Python
__pycache__/
*.pyc

# Database
data/

# Logs
logs/

# Build output
build/
dist/

# OS
.DS_Store
Thumbs.db
